<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abbreviation</key>
	<dict>
		<key>QSActionMnemonic:NSFilenamesPboardType</key>
		<array>
			<string>AppLaunchAction</string>
			<string>AppReopenAction</string>
		</array>
		<key>_</key>
		<array>
			<string>/Users/dbayer/.bash.d/helpers/launch_apps.rb</string>
		</array>
		<key>a</key>
		<array>
			<string>/System/Applications/Utilities/Activity Monitor.app</string>
		</array>
		<key>ac</key>
		<array>
			<string>/System/Applications/Utilities/Activity Monitor.app</string>
		</array>
		<key>acce</key>
		<array>
			<string>/Applications/Xcode.app/Contents/Applications/Accessibility Inspector.app</string>
		</array>
		<key>act</key>
		<array>
			<string>/System/Applications/Utilities/Activity Monitor.app</string>
		</array>
		<key>acti</key>
		<array>
			<string>/System/Applications/Utilities/Activity Monitor.app</string>
		</array>
		<key>am</key>
		<array>
			<string>/Users/dbayer/Applications/Edge Apps.localized/Amazon Music.app</string>
		</array>
		<key>ama</key>
		<array>
			<string>/Users/dbayer/Applications/Edge Apps.localized/Amazon Music.app</string>
		</array>
		<key>any</key>
		<array>
			<string>/Applications/Cisco/Cisco AnyConnect Socket Filter.app</string>
			<string>/Applications/Cisco/Cisco AnyConnect Secure Mobility Client.app</string>
		</array>
		<key>anyc</key>
		<array>
			<string>/Applications/Cisco/Cisco AnyConnect Secure Mobility Client.app</string>
		</array>
		<key>anycon</key>
		<array>
			<string>/Applications/Cisco/Cisco AnyConnect DART.app</string>
		</array>
		<key>anyconn</key>
		<array>
			<string>/Applications/Cisco/Cisco AnyConnect Secure Mobility Client.app</string>
		</array>
		<key>ap</key>
		<array>
			<string>/System/Applications/App Store.app</string>
		</array>
		<key>app</key>
		<array>
			<string>/System/Applications/TV.app</string>
			<string>/System/Applications/App Store.app</string>
		</array>
		<key>apps</key>
		<array>
			<string>/System/Applications/App Store.app</string>
		</array>
		<key>au</key>
		<array>
			<string>/System/Applications/Automator.app</string>
		</array>
		<key>auto</key>
		<array>
			<string>/System/Applications/Automator.app</string>
		</array>
		<key>automato</key>
		<array>
			<string>/System/Applications/Automator.app</string>
		</array>
		<key>automator</key>
		<array>
			<string>/System/Applications/Automator.app</string>
		</array>
		<key>autoup</key>
		<array>
			<string>/Library/Application Support/Microsoft/MAU2.0/Microsoft AutoUpdate.app</string>
		</array>
		<key>b</key>
		<array>
			<string>/Applications/BitBar.app</string>
		</array>
		<key>ba</key>
		<array>
			<string>/Users/dbayer/Library/Application Support/Battle.net/Versions/Battle.net.app</string>
		</array>
		<key>bale</key>
		<array>
			<string>/Applications/balenaEtcher.app</string>
		</array>
		<key>batt</key>
		<array>
			<string>/Users/dbayer/Library/Application Support/Battle.net/Versions/Battle.net.app</string>
		</array>
		<key>battl</key>
		<array>
			<string>/Applications/Battle.net.app</string>
		</array>
		<key>bi</key>
		<array>
			<string>/Applications/BitBar.app</string>
		</array>
		<key>bit</key>
		<array>
			<string>/Applications/BitBar.app</string>
		</array>
		<key>blu</key>
		<array>
			<string>/Applications/BlueJeans.app</string>
		</array>
		<key>blue</key>
		<array>
			<string>/Applications/BlueJeans.app</string>
		</array>
		<key>blut</key>
		<array>
			<string>/System/Library/PreferencePanes/Bluetooth.prefPane</string>
		</array>
		<key>book</key>
		<array>
			<string>/System/Applications/Books.app</string>
		</array>
		<key>bootca</key>
		<array>
			<string>/System/Applications/Utilities/Boot Camp Assistant.app</string>
		</array>
		<key>br</key>
		<array>
			<string>/Applications/Brave Browser.app</string>
		</array>
		<key>bra</key>
		<array>
			<string>/Applications/Brave Browser.app</string>
		</array>
		<key>brav</key>
		<array>
			<string>/Applications/Brave Browser.app</string>
		</array>
		<key>brother</key>
		<array>
			<string>/Applications/Brother iPrint&amp;Scan.app</string>
		</array>
		<key>c</key>
		<array>
			<string>/Applications/Google Chrome.app</string>
		</array>
		<key>ca</key>
		<array>
			<string>/Users/dbayer/Applications/Edge Apps.localized/Google Calendar.app</string>
		</array>
		<key>cal</key>
		<array>
			<string>/Users/dbayer/Applications/Edge Apps.localized/Google Calendar.app</string>
		</array>
		<key>calc</key>
		<array>
			<string>/System/Applications/Calculator.app</string>
		</array>
		<key>cale</key>
		<array>
			<string>/System/Applications/Calendar.app</string>
		</array>
		<key>calen</key>
		<array>
			<string>/Users/dbayer/Applications/Edge Apps.localized/Google Calendar.app</string>
			<string>/System/Applications/Calendar.app</string>
		</array>
		<key>calend</key>
		<array>
			<string>/System/Applications/Calendar.app</string>
		</array>
		<key>calendar</key>
		<array>
			<string>/Users/dbayer/Applications/Edge Apps.localized/Google Calendar.app</string>
		</array>
		<key>cali</key>
		<array>
			<string>/Applications/calibre.app</string>
		</array>
		<key>ch</key>
		<array>
			<string>/Applications/Google Chrome.app</string>
		</array>
		<key>chess</key>
		<array>
			<string>/System/Applications/Chess.app</string>
		</array>
		<key>chr</key>
		<array>
			<string>/Applications/Google Chrome.app</string>
		</array>
		<key>chro</key>
		<array>
			<string>QSPresetGoogleChromeHistory</string>
		</array>
		<key>chrom</key>
		<array>
			<string>/Applications/Google Chrome.app</string>
		</array>
		<key>chrome</key>
		<array>
			<string>/Applications/Google Chrome.app</string>
		</array>
		<key>con</key>
		<array>
			<string>/System/Applications/Utilities/Console.app</string>
		</array>
		<key>cons</key>
		<array>
			<string>/System/Applications/Utilities/Console.app</string>
		</array>
		<key>conso</key>
		<array>
			<string>/System/Applications/Utilities/Console.app</string>
		</array>
		<key>das</key>
		<array>
			<string>/Applications/Dash.app</string>
		</array>
		<key>dis</key>
		<array>
			<string>/System/Library/PreferencePanes/Displays.prefPane</string>
		</array>
		<key>disk</key>
		<array>
			<string>/System/Applications/Utilities/Disk Utility.app</string>
		</array>
		<key>disp</key>
		<array>
			<string>/System/Library/PreferencePanes/Displays.prefPane</string>
		</array>
		<key>dispa</key>
		<array>
			<string>/System/Library/PreferencePanes/Displays.prefPane</string>
		</array>
		<key>displa</key>
		<array>
			<string>/System/Library/PreferencePanes/Displays.prefPane</string>
		</array>
		<key>display</key>
		<array>
			<string>/Applications/DisplayLink Manager.app</string>
		</array>
		<key>displayl</key>
		<array>
			<string>/Applications/DisplayLink Manager.app</string>
		</array>
		<key>do</key>
		<array>
			<string>/Applications/Docker.app</string>
		</array>
		<key>doc</key>
		<array>
			<string>/Applications/Docker.app</string>
		</array>
		<key>dock</key>
		<array>
			<string>/Applications/Docker.app</string>
		</array>
		<key>docke</key>
		<array>
			<string>/Applications/Docker.app</string>
		</array>
		<key>dr</key>
		<array>
			<string>/Users/dbayer/Dropbox</string>
		</array>
		<key>drobpbox</key>
		<array>
			<string>QSID:QSPresetBashHistory:ssh -q lor1-app33064.prod.linkedin.com "/export/content/linkedin/bin/curli d2://d2Clusters/Voyager -f prod-$fabric --force-insecure-d2 -s" | jq '.services | sort' &gt; $fabric.txt</string>
		</array>
		<key>drop</key>
		<array>
			<string>/Applications/Dropbox.app</string>
		</array>
		<key>e</key>
		<array>
			<string>/Applications/Microsoft Excel.app</string>
		</array>
		<key>ed</key>
		<array>
			<string>/Applications/Microsoft Edge.app</string>
		</array>
		<key>edg</key>
		<array>
			<string>/Applications/Microsoft Edge.app</string>
		</array>
		<key>etch</key>
		<array>
			<string>/Applications/balenaEtcher.app</string>
		</array>
		<key>ev</key>
		<array>
			<string>/Users/dbayer/Applications/Edge Apps.localized/Evernote.app</string>
			<string>/Applications/Evernote.app</string>
		</array>
		<key>eve</key>
		<array>
			<string>/Users/dbayer/Applications/Edge Apps.localized/Evernote.app</string>
		</array>
		<key>ever</key>
		<array>
			<string>/Users/dbayer/Applications/Edge Apps.localized/Evernote.app</string>
			<string>/Applications/Evernote.app</string>
		</array>
		<key>evernote</key>
		<array>
			<string>/Applications/Evernote.app</string>
		</array>
		<key>ex</key>
		<array>
			<string>/Applications/Microsoft Excel.app</string>
		</array>
		<key>exc</key>
		<array>
			<string>/Applications/Microsoft Excel.app</string>
		</array>
		<key>fi</key>
		<array>
			<string>/Applications/Firefox.app</string>
			<string>/System/Library/CoreServices/Finder.app</string>
		</array>
		<key>fin</key>
		<array>
			<string>/System/Library/CoreServices/Finder.app</string>
		</array>
		<key>fir</key>
		<array>
			<string>/Applications/Firefox.app</string>
		</array>
		<key>fire</key>
		<array>
			<string>/Applications/Firefox.app</string>
			<string>7</string>
		</array>
		<key>firef</key>
		<array>
			<string>7</string>
		</array>
		<key>glob</key>
		<array>
			<string>/Applications/GlobalProtect.app</string>
		</array>
		<key>go</key>
		<array>
			<string>http://www.google.com/search?q=***&amp;ie=UTF-8</string>
		</array>
		<key>google</key>
		<array>
			<string>http://www.google.com/search?q=***&amp;ie=UTF-8</string>
		</array>
		<key>googlecal</key>
		<array>
			<string>/Users/dbayer/Applications/Edge Apps.localized/Google Calendar.app</string>
		</array>
		<key>graphi</key>
		<array>
			<string>/Volumes/GraphicConverter 11</string>
		</array>
		<key>he</key>
		<array>
			<string>/Applications/Hearthstone/Hearthstone.app</string>
		</array>
		<key>hea</key>
		<array>
			<string>/Applications/Hearthstone/Hearthstone.app</string>
			<string>https://playhearthstone.com/en-us</string>
		</array>
		<key>hear</key>
		<array>
			<string>/Applications/Hearthstone/Hearthstone.app</string>
		</array>
		<key>i</key>
		<array>
			<string>/Applications/iTerm.app</string>
		</array>
		<key>int</key>
		<array>
			<string>/Applications/LI IntelliJ IDEA 2019.3.app</string>
		</array>
		<key>inte</key>
		<array>
			<string>/Applications/LI IntelliJ IDEA 2020.2.app</string>
		</array>
		<key>intell</key>
		<array>
			<string>/Applications/LI IntelliJ IDEA 2019.3.app</string>
		</array>
		<key>it</key>
		<array>
			<string>/Applications/iTerm.app</string>
		</array>
		<key>ite</key>
		<array>
			<string>/Applications/iTerm.app</string>
		</array>
		<key>itu</key>
		<array>
			<string>QSPresetITunesGroup</string>
			<string>QSiTunesEQToggle</string>
			<string>QSPresetiTunesControlScripts</string>
		</array>
		<key>j</key>
		<array>
			<string>/Applications/Joplin.app</string>
		</array>
		<key>jackb</key>
		<array>
			<string>/Users/dbayer/Library/Application Support/Steam/steamapps/common/The Jackbox Party Pack/The Jackbox Party Pack.app</string>
		</array>
		<key>jo</key>
		<array>
			<string>/Applications/Joplin.app</string>
		</array>
		<key>jop</key>
		<array>
			<string>/Applications/Joplin.app</string>
		</array>
		<key>joplin</key>
		<array>
			<string>/Applications/Joplin.app</string>
		</array>
		<key>k</key>
		<array>
			<string>/Applications/Karabiner-Elements.app</string>
		</array>
		<key>kar</key>
		<array>
			<string>/Library/Application Support/org.pqrs/Karabiner-Elements/Karabiner-Menu.app</string>
		</array>
		<key>kara</key>
		<array>
			<string>/Applications/Karabiner-Elements.app</string>
		</array>
		<key>key</key>
		<array>
			<string>/System/Applications/Utilities/Keychain Access.app</string>
		</array>
		<key>keyb</key>
		<array>
			<string>/System/Library/PreferencePanes/Keyboard.prefPane</string>
		</array>
		<key>keych</key>
		<array>
			<string>/System/Applications/Utilities/Keychain Access.app</string>
		</array>
		<key>last</key>
		<array>
			<string>/Applications/LastPass.app</string>
		</array>
		<key>launch</key>
		<array>
			<string>/System/Applications/Launchpad.app</string>
			<string>/Users/dbayer/Dropbox/Programming/Scripts/AppleScript/Launch Outlook.app</string>
		</array>
		<key>log</key>
		<array>
			<string>/Applications/Logi Options.app</string>
		</array>
		<key>logi</key>
		<array>
			<string>/Applications/Logi Options.app</string>
			<string>https://www.logitech.com/en-us/products/mice/mx-anywhere-3.910-005986.html</string>
		</array>
		<key>logitech</key>
		<array>
			<string>https://www.logitech.com/en-us/products/mice/mx-anywhere-3.910-005986.html</string>
		</array>
		<key>m</key>
		<array>
			<string>/System/Applications/Music.app</string>
		</array>
		<key>mai</key>
		<array>
			<string>/System/Applications/Mail.app</string>
		</array>
		<key>map</key>
		<array>
			<string>/System/Applications/Maps.app</string>
		</array>
		<key>maps</key>
		<array>
			<string>/System/Applications/Maps.app</string>
		</array>
		<key>mee</key>
		<array>
			<string>/Applications/MeetingBar.app</string>
		</array>
		<key>meet</key>
		<array>
			<string>/Applications/MeetingBar.app</string>
		</array>
		<key>meetin</key>
		<array>
			<string>/Applications/MeetingBar.app</string>
		</array>
		<key>meeting</key>
		<array>
			<string>/Applications/MeetingBar.app</string>
		</array>
		<key>microsoft</key>
		<array>
			<string>/Applications/Microsoft Word.app</string>
		</array>
		<key>mou</key>
		<array>
			<string>/System/Library/PreferencePanes/Mouse.prefPane</string>
		</array>
		<key>mous</key>
		<array>
			<string>/System/Library/PreferencePanes/Mouse.prefPane</string>
		</array>
		<key>mouse</key>
		<array>
			<string>/System/Library/PreferencePanes/Mouse.prefPane</string>
		</array>
		<key>mu</key>
		<array>
			<string>/System/Applications/Music.app</string>
		</array>
		<key>mus</key>
		<array>
			<string>/System/Applications/Music.app</string>
		</array>
		<key>musi</key>
		<array>
			<string>/System/Applications/Music.app</string>
		</array>
		<key>music</key>
		<array>
			<string>/System/Applications/Music.app</string>
		</array>
		<key>mysql</key>
		<array>
			<string>QSDashDocset:MySQL</string>
		</array>
		<key>ne</key>
		<array>
			<string>/Users/dbayer/Applications/Edge Apps.localized/Netflix.app</string>
		</array>
		<key>net</key>
		<array>
			<string>/Users/dbayer/Applications/Edge Apps.localized/Netflix.app</string>
		</array>
		<key>nomac</key>
		<array>
			<string>/Applications/NoMachine.app</string>
		</array>
		<key>nu</key>
		<array>
			<string>/Applications/Numi.app</string>
		</array>
		<key>num</key>
		<array>
			<string>/Applications/Numi.app</string>
		</array>
		<key>numi</key>
		<array>
			<string>/Applications/Numi.app</string>
		</array>
		<key>obs</key>
		<array>
			<string>/Applications/Obsidian.app</string>
		</array>
		<key>on</key>
		<array>
			<string>/Applications/Microsoft OneNote.app</string>
		</array>
		<key>one</key>
		<array>
			<string>/Applications/Microsoft OneNote.app</string>
		</array>
		<key>onen</key>
		<array>
			<string>/Applications/Microsoft OneNote.app</string>
		</array>
		<key>oneo</key>
		<array>
			<string>/Applications/Microsoft OneNote.app</string>
		</array>
		<key>op</key>
		<array>
			<string>/Applications/Logi Options.app</string>
		</array>
		<key>option</key>
		<array>
			<string>/Applications/Logi Options.app</string>
		</array>
		<key>options</key>
		<array>
			<string>/Applications/Logi Options.app</string>
		</array>
		<key>ou</key>
		<array>
			<string>/Applications/Microsoft Outlook.app</string>
		</array>
		<key>out</key>
		<array>
			<string>/Applications/Microsoft Outlook.app</string>
		</array>
		<key>outl</key>
		<array>
			<string>/Applications/Microsoft Outlook.app</string>
		</array>
		<key>p</key>
		<array>
			<string>/System/Applications/System Preferences.app</string>
		</array>
		<key>pr</key>
		<array>
			<string>/System/Applications/System Preferences.app</string>
		</array>
		<key>pre</key>
		<array>
			<string>/System/Applications/System Preferences.app</string>
		</array>
		<key>pref</key>
		<array>
			<string>/System/Library/PreferencePanes/Dock.prefPane</string>
			<string>/System/Applications/System Preferences.app</string>
		</array>
		<key>prefe</key>
		<array>
			<string>/System/Applications/System Preferences.app</string>
		</array>
		<key>prev</key>
		<array>
			<string>/System/Applications/Preview.app</string>
		</array>
		<key>pri</key>
		<array>
			<string>/System/Library/PreferencePanes/PrintAndScan.prefPane</string>
		</array>
		<key>prin</key>
		<array>
			<string>/System/Library/PreferencePanes/PrintAndScan.prefPane</string>
		</array>
		<key>printers</key>
		<array>
			<string>/System/Library/PreferencePanes/PrintAndScan.prefPane</string>
		</array>
		<key>qb</key>
		<array>
			<string>/Applications/qBittorrent.app</string>
		</array>
		<key>rasp</key>
		<array>
			<string>/Applications/Raspberry Pi Imager.app</string>
		</array>
		<key>run</key>
		<array>
			<string>QSPresetRunningProcesses</string>
		</array>
		<key>sa</key>
		<array>
			<string>/Applications/Safari.app</string>
		</array>
		<key>saf</key>
		<array>
			<string>/Applications/Safari.app</string>
		</array>
		<key>safa</key>
		<array>
			<string>/Applications/Safari.app</string>
		</array>
		<key>sc</key>
		<array>
			<string>/System/Applications/Utilities/Script Editor.app</string>
		</array>
		<key>scr</key>
		<array>
			<string>/System/Applications/Utilities/Script Editor.app</string>
		</array>
		<key>scri</key>
		<array>
			<string>/System/Applications/Utilities/Script Editor.app</string>
		</array>
		<key>scrip</key>
		<array>
			<string>/System/Library/CoreServices/Script Menu.app</string>
		</array>
		<key>script</key>
		<array>
			<string>/System/Applications/Utilities/Script Editor.app</string>
		</array>
		<key>se</key>
		<array>
			<string>/Applications/Self Service.app</string>
		</array>
		<key>sec</key>
		<array>
			<string>/System/Library/PreferencePanes/Security.prefPane</string>
		</array>
		<key>sel</key>
		<array>
			<string>/Applications/Self Service.app</string>
		</array>
		<key>self</key>
		<array>
			<string>/Applications/Self Service.app</string>
		</array>
		<key>she</key>
		<array>
			<string>[Shelf]:General</string>
		</array>
		<key>sl</key>
		<array>
			<string>/Applications/Slack.app</string>
		</array>
		<key>sla</key>
		<array>
			<string>/Applications/Slack.app</string>
		</array>
		<key>soft</key>
		<array>
			<string>/System/Library/CoreServices/Software Update.app</string>
		</array>
		<key>softw</key>
		<array>
			<string>/System/Library/CoreServices/Software Update.app</string>
		</array>
		<key>spee</key>
		<array>
			<string>/Applications/Speedtest.app</string>
		</array>
		<key>spo</key>
		<array>
			<string>/Users/dbayer/Applications/Edge Apps.localized/Spotify.app</string>
			<string>/Applications/Spotify.app</string>
		</array>
		<key>st</key>
		<array>
			<string>/System/Applications/Stocks.app</string>
		</array>
		<key>sta</key>
		<array>
			<string>/Applications/Stats.app</string>
		</array>
		<key>startup</key>
		<array>
			<string>/System/Library/PreferencePanes/StartupDisk.prefPane</string>
		</array>
		<key>ste</key>
		<array>
			<string>/Applications/Steam.app</string>
		</array>
		<key>stea</key>
		<array>
			<string>/Applications/Steam.app</string>
		</array>
		<key>steam</key>
		<array>
			<string>/Users/dbayer/Library/Application Support/Steam/Steam.AppBundle/Steam/Contents/MacOS/Frameworks/Steam Helper.app</string>
		</array>
		<key>sto</key>
		<array>
			<string>/System/Applications/Stocks.app</string>
		</array>
		<key>system</key>
		<array>
			<string>/Library/Keychains/System.keychain</string>
		</array>
		<key>t</key>
		<array>
			<string>/Applications/Todoist.app</string>
			<string>/Users/dbayer/Applications/Edge Apps.localized/Todoist.app</string>
		</array>
		<key>tea</key>
		<array>
			<string>/Applications/Microsoft Teams.app</string>
		</array>
		<key>team</key>
		<array>
			<string>/Applications/Microsoft Teams.app</string>
		</array>
		<key>team\</key>
		<array>
			<string>QSID:QSPresetBashHistory:      "data": "{\"defaultTeamsList\": [\"Learning\", \"Recruiter\", \"Careers\", \"Jobs\", \"Sales\"]}", </string>
		</array>
		<key>ter</key>
		<array>
			<string>/Applications/iTerm.app</string>
		</array>
		<key>term</key>
		<array>
			<string>/Applications/iTerm.app</string>
		</array>
		<key>tex</key>
		<array>
			<string>/System/Applications/TextEdit.app</string>
		</array>
		<key>the</key>
		<array>
			<string>/System/Library/CoreServices/ThermalTrap.app</string>
		</array>
		<key>time</key>
		<array>
			<string>/System/Applications/Time Machine.app</string>
		</array>
		<key>to</key>
		<array>
			<string>/Users/dbayer/Applications/Edge Apps.localized/Todoist.app</string>
			<string>/Applications/Todoist.app</string>
		</array>
		<key>tod</key>
		<array>
			<string>/Applications/Todoist.app</string>
			<string>/Users/dbayer/Applications/Edge Apps.localized/Todoist.app</string>
		</array>
		<key>todo</key>
		<array>
			<string>/Users/dbayer/Applications/Edge Apps.localized/Todoist.app</string>
			<string>/Applications/Todoist.app</string>
		</array>
		<key>tog</key>
		<array>
			<string>QSPresetUserGroup</string>
		</array>
		<key>togg</key>
		<array>
			<string>/System/Library/CoreServices/Applications/Storage Management.app</string>
		</array>
		<key>toggl</key>
		<array>
			<string>/Users/dbayer/Dropbox/Applications/Toggle Dark Mode.app</string>
		</array>
		<key>tv</key>
		<array>
			<string>/System/Applications/TV.app</string>
		</array>
		<key>tw</key>
		<array>
			<string>/Users/dbayer/Applications/Edge Apps.localized/Twitter.app</string>
		</array>
		<key>twe</key>
		<array>
			<string>/Users/dbayer/Applications/Edge Apps.localized/TweetDeck.app</string>
		</array>
		<key>twee</key>
		<array>
			<string>/Applications/Tweetbot.app</string>
			<string>/Users/dbayer/Applications/Edge Apps.localized/TweetDeck.app</string>
		</array>
		<key>twi</key>
		<array>
			<string>/Users/dbayer/Applications/Edge Apps.localized/Twitter.app</string>
		</array>
		<key>update</key>
		<array>
			<string>/Library/Application Support/Microsoft/MAU2.0/Microsoft AutoUpdate.app/Contents/MacOS/Microsoft Update Assistant.app</string>
		</array>
		<key>usr</key>
		<array>
			<string>/System/Library/CoreServices/UserNotificationCenter.app</string>
		</array>
		<key>usrbi</key>
		<array>
			<string>/System/Library/PrivateFrameworks/UserActivity.framework/Agents/UASharedPasteboardProgressUI.app</string>
		</array>
		<key>v</key>
		<array>
			<string>/Applications/Visual Studio Code.app</string>
		</array>
		<key>vi</key>
		<array>
			<string>/Applications/Visual Studio Code.app</string>
		</array>
		<key>vis</key>
		<array>
			<string>/Applications/Visual Studio Code.app</string>
		</array>
		<key>visu</key>
		<array>
			<string>/Applications/Visual Studio Code.app</string>
		</array>
		<key>visua</key>
		<array>
			<string>/System/Library/PrivateFrameworks/AccessibilitySupport.framework/Versions/A/Resources/AccessibilityVisualsAgent.app</string>
			<string>/Applications/Visual Studio Code.app</string>
		</array>
		<key>visual</key>
		<array>
			<string>/System/Library/PrivateFrameworks/AccessibilitySupport.framework/Versions/A/Resources/AccessibilityVisualsAgent.app</string>
			<string>/Applications/Visual Studio Code.app</string>
		</array>
		<key>word</key>
		<array>
			<string>/Applications/Microsoft Word.app</string>
		</array>
		<key>workben</key>
		<array>
			<string>/Applications/MySQLWorkbench.app</string>
		</array>
		<key>workbench</key>
		<array>
			<string>/Applications/MySQLWorkbench.app</string>
		</array>
		<key>x</key>
		<array>
			<string>/Applications/xbar.app</string>
		</array>
		<key>xb</key>
		<array>
			<string>/Applications/xbar.app</string>
		</array>
		<key>xba</key>
		<array>
			<string>/Applications/xbar.app</string>
		</array>
		<key>xc</key>
		<array>
			<string>/Applications/Xcode.app</string>
		</array>
		<key>z</key>
		<array>
			<string>/Applications/zoom.us.app</string>
		</array>
		<key>zo</key>
		<array>
			<string>/Applications/zoom.us.app</string>
		</array>
		<key>zoo</key>
		<array>
			<string>/Applications/zoom.us.app</string>
		</array>
		<key>zoom</key>
		<array>
			<string>/Applications/zoom.us.app</string>
		</array>
		<key>zp</key>
		<array>
			<string>/Users/dbayer/Downloads/StarCraft-II-Setup.zip</string>
		</array>
	</dict>
	<key>implied</key>
	<dict>
		<key>/Applications/Battle.net.app</key>
		<dict>
			<key>battl</key>
			<integer>1</integer>
		</dict>
		<key>/Applications/BitBar.app</key>
		<dict>
			<key>b</key>
			<integer>1</integer>
			<key>bi</key>
			<integer>4</integer>
			<key>bit</key>
			<integer>8</integer>
		</dict>
		<key>/Applications/BlueJeans.app</key>
		<dict>
			<key>blu</key>
			<integer>1</integer>
			<key>blue</key>
			<integer>1</integer>
		</dict>
		<key>/Applications/Brave Browser.app</key>
		<dict>
			<key>br</key>
			<integer>2</integer>
			<key>bra</key>
			<integer>12</integer>
			<key>brav</key>
			<integer>2</integer>
		</dict>
		<key>/Applications/Brother iPrint&amp;Scan.app</key>
		<dict>
			<key>brother</key>
			<integer>1</integer>
		</dict>
		<key>/Applications/Cisco/Cisco AnyConnect DART.app</key>
		<dict>
			<key>anycon</key>
			<integer>1</integer>
		</dict>
		<key>/Applications/Cisco/Cisco AnyConnect Secure Mobility Client.app</key>
		<dict>
			<key>any</key>
			<integer>2</integer>
			<key>anyc</key>
			<integer>3</integer>
			<key>anyconn</key>
			<integer>1</integer>
		</dict>
		<key>/Applications/Cisco/Cisco AnyConnect Socket Filter.app</key>
		<dict>
			<key>any</key>
			<integer>1</integer>
		</dict>
		<key>/Applications/Dash.app</key>
		<dict>
			<key>das</key>
			<integer>2</integer>
		</dict>
		<key>/Applications/DisplayLink Manager.app</key>
		<dict>
			<key>display</key>
			<integer>1</integer>
			<key>displayl</key>
			<integer>2</integer>
		</dict>
		<key>/Applications/Docker.app</key>
		<dict>
			<key>do</key>
			<integer>1</integer>
			<key>doc</key>
			<integer>1</integer>
			<key>dock</key>
			<integer>1</integer>
			<key>docke</key>
			<integer>2</integer>
		</dict>
		<key>/Applications/Dropbox.app</key>
		<dict>
			<key>drop</key>
			<integer>1</integer>
		</dict>
		<key>/Applications/Evernote.app</key>
		<dict>
			<key>ev</key>
			<integer>1</integer>
			<key>ever</key>
			<integer>1</integer>
			<key>evernote</key>
			<integer>1</integer>
		</dict>
		<key>/Applications/Firefox.app</key>
		<dict>
			<key>fi</key>
			<integer>8</integer>
			<key>fir</key>
			<integer>16</integer>
			<key>fire</key>
			<integer>14</integer>
		</dict>
		<key>/Applications/GlobalProtect.app</key>
		<dict>
			<key>glob</key>
			<integer>1</integer>
		</dict>
		<key>/Applications/Google Chrome.app</key>
		<dict>
			<key>c</key>
			<integer>1</integer>
			<key>ch</key>
			<integer>30</integer>
			<key>chr</key>
			<integer>8</integer>
			<key>chrom</key>
			<integer>5</integer>
			<key>chrome</key>
			<integer>1</integer>
		</dict>
		<key>/Applications/Hearthstone/Hearthstone.app</key>
		<dict>
			<key>he</key>
			<integer>1</integer>
			<key>hea</key>
			<integer>2</integer>
			<key>hear</key>
			<integer>2</integer>
		</dict>
		<key>/Applications/Joplin.app</key>
		<dict>
			<key>j</key>
			<integer>1</integer>
			<key>jo</key>
			<integer>21</integer>
			<key>jop</key>
			<integer>26</integer>
			<key>joplin</key>
			<integer>1</integer>
		</dict>
		<key>/Applications/Karabiner-Elements.app</key>
		<dict>
			<key>k</key>
			<integer>1</integer>
			<key>kara</key>
			<integer>4</integer>
		</dict>
		<key>/Applications/LI IntelliJ IDEA 2019.3.app</key>
		<dict>
			<key>int</key>
			<integer>1</integer>
			<key>intell</key>
			<integer>2</integer>
		</dict>
		<key>/Applications/LI IntelliJ IDEA 2020.2.app</key>
		<dict>
			<key>inte</key>
			<integer>1</integer>
		</dict>
		<key>/Applications/LastPass.app</key>
		<dict>
			<key>last</key>
			<integer>1</integer>
		</dict>
		<key>/Applications/Logi Options.app</key>
		<dict>
			<key>log</key>
			<integer>2</integer>
			<key>logi</key>
			<integer>5</integer>
			<key>op</key>
			<integer>2</integer>
			<key>option</key>
			<integer>2</integer>
			<key>options</key>
			<integer>1</integer>
		</dict>
		<key>/Applications/Mail.app</key>
		<dict>
			<key>m</key>
			<integer>2</integer>
			<key>mail</key>
			<integer>2</integer>
		</dict>
		<key>/Applications/MeetingBar.app</key>
		<dict>
			<key>mee</key>
			<integer>15</integer>
			<key>meet</key>
			<integer>3</integer>
			<key>meetin</key>
			<integer>1</integer>
			<key>meeting</key>
			<integer>1</integer>
		</dict>
		<key>/Applications/Microsoft Edge.app</key>
		<dict>
			<key>ed</key>
			<integer>35</integer>
			<key>edg</key>
			<integer>7</integer>
		</dict>
		<key>/Applications/Microsoft Excel.app</key>
		<dict>
			<key>e</key>
			<integer>16</integer>
			<key>ex</key>
			<integer>93</integer>
			<key>exc</key>
			<integer>31</integer>
		</dict>
		<key>/Applications/Microsoft OneNote.app</key>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>one</key>
			<integer>21</integer>
			<key>onen</key>
			<integer>3</integer>
			<key>oneo</key>
			<integer>1</integer>
		</dict>
		<key>/Applications/Microsoft Outlook.app</key>
		<dict>
			<key>ou</key>
			<integer>17</integer>
			<key>out</key>
			<integer>54</integer>
			<key>outl</key>
			<integer>2</integer>
		</dict>
		<key>/Applications/Microsoft Teams.app</key>
		<dict>
			<key>tea</key>
			<integer>1</integer>
			<key>team</key>
			<integer>3</integer>
		</dict>
		<key>/Applications/Microsoft Word.app</key>
		<dict>
			<key>microsoft</key>
			<integer>4</integer>
			<key>word</key>
			<integer>2</integer>
		</dict>
		<key>/Applications/MySQLWorkbench.app</key>
		<dict>
			<key>workben</key>
			<integer>1</integer>
			<key>workbench</key>
			<integer>2</integer>
		</dict>
		<key>/Applications/NoMachine.app</key>
		<dict>
			<key>nomac</key>
			<integer>1</integer>
		</dict>
		<key>/Applications/Numi.app</key>
		<dict>
			<key>nu</key>
			<integer>10</integer>
			<key>num</key>
			<integer>6</integer>
			<key>numi</key>
			<integer>3</integer>
		</dict>
		<key>/Applications/Obsidian.app</key>
		<dict>
			<key>obs</key>
			<integer>1</integer>
		</dict>
		<key>/Applications/Raspberry Pi Imager.app</key>
		<dict>
			<key>rasp</key>
			<integer>1</integer>
		</dict>
		<key>/Applications/Safari.app</key>
		<dict>
			<key>s</key>
			<integer>2</integer>
			<key>sa</key>
			<integer>3</integer>
			<key>saf</key>
			<integer>2</integer>
			<key>safa</key>
			<integer>2</integer>
			<key>safari</key>
			<integer>2</integer>
		</dict>
		<key>/Applications/Self Service.app</key>
		<dict>
			<key>se</key>
			<integer>2</integer>
			<key>sel</key>
			<integer>10</integer>
			<key>self</key>
			<integer>15</integer>
		</dict>
		<key>/Applications/Slack.app</key>
		<dict>
			<key>sl</key>
			<integer>8</integer>
			<key>sla</key>
			<integer>55</integer>
		</dict>
		<key>/Applications/Speedtest.app</key>
		<dict>
			<key>spee</key>
			<integer>1</integer>
		</dict>
		<key>/Applications/Spotify.app</key>
		<dict>
			<key>spo</key>
			<integer>29</integer>
		</dict>
		<key>/Applications/Stats.app</key>
		<dict>
			<key>sta</key>
			<integer>1</integer>
		</dict>
		<key>/Applications/Steam.app</key>
		<dict>
			<key>ste</key>
			<integer>6</integer>
			<key>stea</key>
			<integer>1</integer>
		</dict>
		<key>/Applications/Todoist.app</key>
		<dict>
			<key>t</key>
			<integer>1</integer>
			<key>to</key>
			<integer>4</integer>
			<key>tod</key>
			<integer>3</integer>
			<key>todo</key>
			<integer>13</integer>
		</dict>
		<key>/Applications/Tweetbot.app</key>
		<dict>
			<key>twee</key>
			<integer>1</integer>
		</dict>
		<key>/Applications/Visual Studio Code.app</key>
		<dict>
			<key>v</key>
			<integer>11</integer>
			<key>vi</key>
			<integer>6</integer>
			<key>vis</key>
			<integer>4</integer>
			<key>visu</key>
			<integer>6</integer>
			<key>visua</key>
			<integer>1</integer>
			<key>visual</key>
			<integer>2</integer>
		</dict>
		<key>/Applications/Xcode.app</key>
		<dict>
			<key>xc</key>
			<integer>1</integer>
		</dict>
		<key>/Applications/Xcode.app/Contents/Applications/Accessibility Inspector.app</key>
		<dict>
			<key>acce</key>
			<integer>1</integer>
		</dict>
		<key>/Applications/balenaEtcher.app</key>
		<dict>
			<key>bale</key>
			<integer>1</integer>
			<key>etch</key>
			<integer>2</integer>
		</dict>
		<key>/Applications/calibre.app</key>
		<dict>
			<key>cali</key>
			<integer>2</integer>
		</dict>
		<key>/Applications/iTerm.app</key>
		<dict>
			<key>i</key>
			<integer>43</integer>
			<key>it</key>
			<integer>16</integer>
			<key>ite</key>
			<integer>13</integer>
			<key>ter</key>
			<integer>1</integer>
			<key>term</key>
			<integer>1</integer>
		</dict>
		<key>/Applications/iTunes.app</key>
		<dict>
			<key>it</key>
			<integer>2</integer>
			<key>itunes</key>
			<integer>2</integer>
		</dict>
		<key>/Applications/qBittorrent.app</key>
		<dict>
			<key>qb</key>
			<integer>1</integer>
		</dict>
		<key>/Applications/xbar.app</key>
		<dict>
			<key>x</key>
			<integer>8</integer>
			<key>xb</key>
			<integer>23</integer>
			<key>xba</key>
			<integer>1</integer>
		</dict>
		<key>/Applications/zoom.us.app</key>
		<dict>
			<key>z</key>
			<integer>2</integer>
			<key>zo</key>
			<integer>7</integer>
			<key>zoo</key>
			<integer>32</integer>
			<key>zoom</key>
			<integer>3</integer>
		</dict>
		<key>/Library/Application Support/Microsoft/MAU2.0/Microsoft AutoUpdate.app</key>
		<dict>
			<key>autoup</key>
			<integer>1</integer>
		</dict>
		<key>/Library/Application Support/Microsoft/MAU2.0/Microsoft AutoUpdate.app/Contents/MacOS/Microsoft Update Assistant.app</key>
		<dict>
			<key>update</key>
			<integer>1</integer>
		</dict>
		<key>/Library/Application Support/org.pqrs/Karabiner-Elements/Karabiner-Menu.app</key>
		<dict>
			<key>kar</key>
			<integer>1</integer>
		</dict>
		<key>/Library/Keychains/System.keychain</key>
		<dict>
			<key>system</key>
			<integer>10</integer>
		</dict>
		<key>/System/Applications/App Store.app</key>
		<dict>
			<key>ap</key>
			<integer>1</integer>
			<key>app</key>
			<integer>5</integer>
			<key>apps</key>
			<integer>1</integer>
		</dict>
		<key>/System/Applications/Automator.app</key>
		<dict>
			<key>au</key>
			<integer>1</integer>
			<key>auto</key>
			<integer>2</integer>
			<key>automato</key>
			<integer>2</integer>
			<key>automator</key>
			<integer>1</integer>
		</dict>
		<key>/System/Applications/Books.app</key>
		<dict>
			<key>book</key>
			<integer>1</integer>
		</dict>
		<key>/System/Applications/Calculator.app</key>
		<dict>
			<key>calc</key>
			<integer>1</integer>
		</dict>
		<key>/System/Applications/Calendar.app</key>
		<dict>
			<key>cale</key>
			<integer>12</integer>
			<key>calen</key>
			<integer>1</integer>
			<key>calend</key>
			<integer>1</integer>
		</dict>
		<key>/System/Applications/Chess.app</key>
		<dict>
			<key>chess</key>
			<integer>1</integer>
		</dict>
		<key>/System/Applications/Launchpad.app</key>
		<dict>
			<key>launch</key>
			<integer>1</integer>
		</dict>
		<key>/System/Applications/Mail.app</key>
		<dict>
			<key>mai</key>
			<integer>1</integer>
		</dict>
		<key>/System/Applications/Maps.app</key>
		<dict>
			<key>map</key>
			<integer>22</integer>
			<key>maps</key>
			<integer>2</integer>
		</dict>
		<key>/System/Applications/Music.app</key>
		<dict>
			<key>m</key>
			<integer>3</integer>
			<key>mu</key>
			<integer>55</integer>
			<key>mus</key>
			<integer>12</integer>
			<key>musi</key>
			<integer>3</integer>
			<key>music</key>
			<integer>2</integer>
		</dict>
		<key>/System/Applications/Preview.app</key>
		<dict>
			<key>prev</key>
			<integer>23</integer>
		</dict>
		<key>/System/Applications/Stocks.app</key>
		<dict>
			<key>st</key>
			<integer>11</integer>
			<key>sto</key>
			<integer>59</integer>
		</dict>
		<key>/System/Applications/System Preferences.app</key>
		<dict>
			<key>p</key>
			<integer>6</integer>
			<key>pr</key>
			<integer>3</integer>
			<key>pre</key>
			<integer>50</integer>
			<key>pref</key>
			<integer>3</integer>
			<key>prefe</key>
			<integer>2</integer>
		</dict>
		<key>/System/Applications/TV.app</key>
		<dict>
			<key>app</key>
			<integer>4</integer>
			<key>tv</key>
			<integer>2</integer>
		</dict>
		<key>/System/Applications/TextEdit.app</key>
		<dict>
			<key>tex</key>
			<integer>1</integer>
		</dict>
		<key>/System/Applications/Time Machine.app</key>
		<dict>
			<key>time</key>
			<integer>1</integer>
		</dict>
		<key>/System/Applications/Utilities/Activity Monitor.app</key>
		<dict>
			<key>a</key>
			<integer>2</integer>
			<key>ac</key>
			<integer>30</integer>
			<key>act</key>
			<integer>7</integer>
			<key>acti</key>
			<integer>5</integer>
		</dict>
		<key>/System/Applications/Utilities/Boot Camp Assistant.app</key>
		<dict>
			<key>bootca</key>
			<integer>2</integer>
		</dict>
		<key>/System/Applications/Utilities/Console.app</key>
		<dict>
			<key>con</key>
			<integer>5</integer>
			<key>cons</key>
			<integer>3</integer>
			<key>conso</key>
			<integer>2</integer>
		</dict>
		<key>/System/Applications/Utilities/Disk Utility.app</key>
		<dict>
			<key>disk</key>
			<integer>8</integer>
		</dict>
		<key>/System/Applications/Utilities/Keychain Access.app</key>
		<dict>
			<key>key</key>
			<integer>3</integer>
			<key>keych</key>
			<integer>2</integer>
		</dict>
		<key>/System/Applications/Utilities/Script Editor.app</key>
		<dict>
			<key>sc</key>
			<integer>4</integer>
			<key>scr</key>
			<integer>4</integer>
			<key>scri</key>
			<integer>2</integer>
			<key>script</key>
			<integer>3</integer>
		</dict>
		<key>/System/Library/CoreServices/Applications/Storage Management.app</key>
		<dict>
			<key>togg</key>
			<integer>1</integer>
		</dict>
		<key>/System/Library/CoreServices/Finder.app</key>
		<dict>
			<key>fi</key>
			<integer>1</integer>
			<key>fin</key>
			<integer>3</integer>
		</dict>
		<key>/System/Library/CoreServices/Script Menu.app</key>
		<dict>
			<key>scrip</key>
			<integer>1</integer>
		</dict>
		<key>/System/Library/CoreServices/Software Update.app</key>
		<dict>
			<key>soft</key>
			<integer>1</integer>
			<key>softw</key>
			<integer>1</integer>
		</dict>
		<key>/System/Library/CoreServices/ThermalTrap.app</key>
		<dict>
			<key>the</key>
			<integer>1</integer>
		</dict>
		<key>/System/Library/CoreServices/UserNotificationCenter.app</key>
		<dict>
			<key>usr</key>
			<integer>1</integer>
		</dict>
		<key>/System/Library/PreferencePanes/Bluetooth.prefPane</key>
		<dict>
			<key>blut</key>
			<integer>1</integer>
		</dict>
		<key>/System/Library/PreferencePanes/Displays.prefPane</key>
		<dict>
			<key>dis</key>
			<integer>3</integer>
			<key>disp</key>
			<integer>9</integer>
			<key>dispa</key>
			<integer>1</integer>
			<key>displa</key>
			<integer>1</integer>
		</dict>
		<key>/System/Library/PreferencePanes/Dock.prefPane</key>
		<dict>
			<key>pref</key>
			<integer>12</integer>
		</dict>
		<key>/System/Library/PreferencePanes/Keyboard.prefPane</key>
		<dict>
			<key>keyb</key>
			<integer>1</integer>
		</dict>
		<key>/System/Library/PreferencePanes/Mouse.prefPane</key>
		<dict>
			<key>mou</key>
			<integer>1</integer>
			<key>mous</key>
			<integer>1</integer>
			<key>mouse</key>
			<integer>1</integer>
		</dict>
		<key>/System/Library/PreferencePanes/PrintAndScan.prefPane</key>
		<dict>
			<key>pri</key>
			<integer>1</integer>
			<key>prin</key>
			<integer>5</integer>
			<key>printers</key>
			<integer>2</integer>
		</dict>
		<key>/System/Library/PreferencePanes/Security.prefPane</key>
		<dict>
			<key>sec</key>
			<integer>1</integer>
		</dict>
		<key>/System/Library/PreferencePanes/StartupDisk.prefPane</key>
		<dict>
			<key>startup</key>
			<integer>1</integer>
		</dict>
		<key>/System/Library/PrivateFrameworks/AccessibilitySupport.framework/Versions/A/Resources/AccessibilityVisualsAgent.app</key>
		<dict>
			<key>visua</key>
			<integer>2</integer>
			<key>visual</key>
			<integer>3</integer>
		</dict>
		<key>/System/Library/PrivateFrameworks/UserActivity.framework/Agents/UASharedPasteboardProgressUI.app</key>
		<dict>
			<key>usrbi</key>
			<integer>1</integer>
		</dict>
		<key>/Users/dbayer/.bash.d/helpers/launch_apps.rb</key>
		<dict>
			<key>_</key>
			<integer>1</integer>
		</dict>
		<key>/Users/dbayer/Applications/Edge Apps.localized/Amazon Music.app</key>
		<dict>
			<key>am</key>
			<integer>1</integer>
			<key>ama</key>
			<integer>5</integer>
		</dict>
		<key>/Users/dbayer/Applications/Edge Apps.localized/Evernote.app</key>
		<dict>
			<key>ev</key>
			<integer>2</integer>
			<key>eve</key>
			<integer>6</integer>
			<key>ever</key>
			<integer>2</integer>
		</dict>
		<key>/Users/dbayer/Applications/Edge Apps.localized/Google Calendar.app</key>
		<dict>
			<key>ca</key>
			<integer>3</integer>
			<key>cal</key>
			<integer>8</integer>
			<key>calen</key>
			<integer>4</integer>
			<key>calendar</key>
			<integer>1</integer>
			<key>googlecal</key>
			<integer>1</integer>
		</dict>
		<key>/Users/dbayer/Applications/Edge Apps.localized/Netflix.app</key>
		<dict>
			<key>ne</key>
			<integer>2</integer>
			<key>net</key>
			<integer>2</integer>
		</dict>
		<key>/Users/dbayer/Applications/Edge Apps.localized/Spotify.app</key>
		<dict>
			<key>spo</key>
			<integer>3</integer>
		</dict>
		<key>/Users/dbayer/Applications/Edge Apps.localized/Todoist.app</key>
		<dict>
			<key>t</key>
			<integer>1</integer>
			<key>to</key>
			<integer>41</integer>
			<key>tod</key>
			<integer>2</integer>
			<key>todo</key>
			<integer>36</integer>
		</dict>
		<key>/Users/dbayer/Applications/Edge Apps.localized/TweetDeck.app</key>
		<dict>
			<key>twe</key>
			<integer>4</integer>
			<key>twee</key>
			<integer>2</integer>
		</dict>
		<key>/Users/dbayer/Applications/Edge Apps.localized/Twitter.app</key>
		<dict>
			<key>tw</key>
			<integer>71</integer>
			<key>twi</key>
			<integer>9</integer>
		</dict>
		<key>/Users/dbayer/Downloads/StarCraft-II-Setup.zip</key>
		<dict>
			<key>zp</key>
			<integer>1</integer>
		</dict>
		<key>/Users/dbayer/Dropbox</key>
		<dict>
			<key>dr</key>
			<integer>1</integer>
		</dict>
		<key>/Users/dbayer/Dropbox/Applications/Toggle Dark Mode.app</key>
		<dict>
			<key>toggl</key>
			<integer>1</integer>
		</dict>
		<key>/Users/dbayer/Dropbox/Programming/Scripts/AppleScript/Launch Outlook.app</key>
		<dict>
			<key>launch</key>
			<integer>1</integer>
		</dict>
		<key>/Users/dbayer/Library/Application Support/Battle.net/Versions/Battle.net.app</key>
		<dict>
			<key>ba</key>
			<integer>8</integer>
			<key>batt</key>
			<integer>3</integer>
		</dict>
		<key>/Users/dbayer/Library/Application Support/Steam/Steam.AppBundle/Steam/Contents/MacOS/Frameworks/Steam Helper.app</key>
		<dict>
			<key>steam</key>
			<integer>1</integer>
		</dict>
		<key>/Users/dbayer/Library/Application Support/Steam/steamapps/common/The Jackbox Party Pack/The Jackbox Party Pack.app</key>
		<dict>
			<key>jackb</key>
			<integer>1</integer>
		</dict>
		<key>/Volumes/GraphicConverter 11</key>
		<dict>
			<key>graphi</key>
			<integer>1</integer>
		</dict>
		<key>7</key>
		<dict>
			<key>fire</key>
			<integer>2</integer>
			<key>firef</key>
			<integer>1</integer>
		</dict>
		<key>QSCLExecuteTextAction</key>
		<dict>
			<key>run</key>
			<integer>3</integer>
		</dict>
		<key>QSDashDocset:MySQL</key>
		<dict>
			<key>mysql</key>
			<integer>1</integer>
		</dict>
		<key>QSID:QSPresetBashHistory:      "data": "{\"defaultTeamsList\": [\"Learning\", \"Recruiter\", \"Careers\", \"Jobs\", \"Sales\"]}", </key>
		<dict>
			<key>team\</key>
			<integer>1</integer>
		</dict>
		<key>QSID:QSPresetBashHistory:ssh -q lor1-app33064.prod.linkedin.com "/export/content/linkedin/bin/curli d2://d2Clusters/Voyager -f prod-$fabric --force-insecure-d2 -s" | jq '.services | sort' &gt; $fabric.txt</key>
		<dict>
			<key>drobpbox</key>
			<integer>1</integer>
		</dict>
		<key>QSObjectShowMenu</key>
		<dict>
			<key>s</key>
			<integer>1</integer>
		</dict>
		<key>QSPresetGoogleChromeHistory</key>
		<dict>
			<key>chro</key>
			<integer>8</integer>
		</dict>
		<key>QSPresetITunesGroup</key>
		<dict>
			<key>itu</key>
			<integer>2</integer>
		</dict>
		<key>QSPresetRunningProcesses</key>
		<dict>
			<key>run</key>
			<integer>1</integer>
		</dict>
		<key>QSPresetUserGroup</key>
		<dict>
			<key>tog</key>
			<integer>1</integer>
		</dict>
		<key>QSPresetiTunesControlScripts</key>
		<dict>
			<key>itu</key>
			<integer>1</integer>
		</dict>
		<key>QSShellScriptRunWithArgsAction</key>
		<dict>
			<key>run</key>
			<integer>1</integer>
		</dict>
		<key>QSiTunesEQToggle</key>
		<dict>
			<key>itu</key>
			<integer>1</integer>
		</dict>
		<key>[Shelf]:General</key>
		<dict>
			<key>she</key>
			<integer>2</integer>
		</dict>
		<key>http://www.google.com/search?q=***&amp;ie=UTF-8</key>
		<dict>
			<key>go</key>
			<integer>1</integer>
			<key>google</key>
			<integer>4</integer>
		</dict>
		<key>https://playhearthstone.com/en-us</key>
		<dict>
			<key>hea</key>
			<integer>1</integer>
		</dict>
		<key>https://www.logitech.com/en-us/products/mice/mx-anywhere-3.910-005986.html</key>
		<dict>
			<key>logi</key>
			<integer>1</integer>
			<key>logitech</key>
			<integer>4</integer>
		</dict>
	</dict>
</dict>
</plist>
